@charset "UTF-8"

body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

h1{
    color: rgb(188, 191, 137);
    background-color: rgb(0, 74, 98);
}

h2{
    color: darkred;
}

p{
    text-align: justify;
}
