@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100%;
    background-color: lightslategray;
}

header {
    min-width: 150px;
    background-color: #000000;   
}


div#imgfundo {
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    background-image: url(../imagens/Design\ sem\ nome.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;

}
div#imgfundo a {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}

div#imgfundo h1 {
    padding: 10px;
    font-size: 2.5em;
    font-variant: small-caps;
}

div#imgfundo p {
    padding: 10px;
}

div#imgfundo a:hover {
    font-size: 1.1em;
    text-decoration: underline;
    color: #000000;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: #252525;
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.329);
    max-width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}