@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: lightslategray;
}

header {
    min-width: 150px;
    background-color: #2b3136;
    
}

div#imgfundo {
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-image: url(../imagens/Design\ sem\ nome.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;

}
div#imgfundo a {
    color: white;
    text-decoration: none;
}

div#imgfundo h1 {
    padding-left: 5px;
    padding-top: 5px;
}

div#imgfundo p {
    padding: 10px 5px 5px 5px;
}