@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #D9FFF2;
    --cor1: #8CFFD9;
    --cor2: #70CCAD;
    --cor3: #46806C;
    --cor4: #275a48;
    --cor5: #6C8079;

    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffffff;
    font-family: var(--fonte-padrao);
}


header {
    background-color: #35755f;
    min-width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    color: white;
    text-align: center;
    margin-bottom: 5px;
} 

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    text-align: center;

}

nav {
    background-color: #275a48;
    height: auto;
    width: auto;
    padding: 15px;
}

nav > a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin: 0px;
    padding: 15px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: #ffffff;
    color: #275a48;
    border-radius: 7px;
    
}

main {
    background-color: rgb(255, 255, 255);
    min-width: 300px;
    max-width: 800px;
    margin: auto auto 10px auto; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

main h1, h2 {
    font-family: var(--fonte-android);
}

main p {
    padding: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    font-size: 1em;
    line-height: 1.5em;
}

main strong {
    color: #275a48;
    font-weight: bold;
}

main a {
    font-weight: bold;
    text-decoration: none;
    color: #275a48;
    background-color: #8CFFD9;
    padding: 2.5px 5.5px;
    border-radius: 2px;
    transition-duration: 0.5s;
}

main a:hover {
    text-decoration: underline;
    color: #8CFFD9;
    background-color: #275a48;
}

main img#pequena {
    display: block;
    max-width: 320px;
    margin: auto;

    
}

.video {
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57.51%;
    position: relative
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: #70ccadbd;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.274);
}

aside > h3 {
    color: white;
    background-color: #275a48;
    font-size: 1.3em;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
}


aside ul {
    list-style-type: '\2714\00A0\00A0   ';
    list-style-position: inside;
    columns: 2;
    
}

aside abbr {
    text-decoration: none;
}


footer {
    padding: 5px;
    background-color: #6C8079;
    color: white;
    text-align: center;
    font-size: 0.8em;

}
